html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.col-sm-2 {
    flex: 0 0 auto;
    width: 16%;
}

body {
  margin-bottom: 60px;
  background-color: lightgoldenrodyellow;
}

/* Header styles */
header {
    background-color: lightgreen;
    padding: 10px; 
}

/*  navbar-brand style */
.navbar-brand {
    color: red;
}

/* Footer styles */
.footer {
  background-color: lightgreen;
  color: #000000;
}

/*/@media (min-width: 576px) .col-sm-2 {
    flex: 0 0 auto;
    width: 16%;
}*/