@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
</div>
<div class="text-center">
    <a href="/meetingPlans">See All meeting Plans</a>
</div>
<div class="text-center">
    <a href="/meetingPlans/Create">Create New Meeting Plans</a>
</div>
