@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our meeting</h1>
    <h2>We invite you to have a great time at church with us. </h2>
    <img src="~/images/Sunday_Meeting.jpg" alt="meeting at LDS church" style="width: 500px; max-width: 100%;" />
</div>
